
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<<div class="container text-center">


<h1>What I learned on 17/02/2020<h1>

<p><h3>*Project starts always from urls.py<br>
*Looks for the specific path<br>
*Path connects from views<br>
*Each path is designed with a function with the same name in the view file<br>
Function can return either a HttpResponse or a render option returning either a string value or a html template respectively
and the routing can be controlled with form action method bonus anything retuned inside {} as a dictionary value in the view file can be retuend in the html file by two time curly bracket and key name inside</h3></p><br>
    <a href="{% url 'home' %}" class="btn btn-success">Home</a><br>

</div>

<!-- TODO:

 -->
